@use '@/styles/variables/colors' as cl;

.experience {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__title {
		position: relative;
		top: 80px;
		width: 100%;
		text-align: start;
		font-size: 64px;
		font-weight: 400;
		color: #ffffff;

		span {
			font-weight: bold;
			background: cl.$color__linear-gradient;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__grid {
		display: grid;
		grid-template-areas:
			'item2 item1'
			'item2 item3';
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		align-items: center;

		&__item:nth-of-type(1) {
			grid-area: item1;
		}
		&__item:nth-of-type(2) {
			grid-area: item2;
		}
		&__item:nth-of-type(3) {
			grid-area: item3;
		}
	}
}
