@use '@/styles/variables/colors' as cl;

.nav {
	position: fixed;
	z-index: 1000;
	left: 50%;
	transform: translateX(-50%);
	top: 24px;

	display: flex;
	flex-direction: row;
	gap: 16px;
}

.navigator {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	border-radius: 50px;

	backdrop-filter: blur(80px);
	background-color: rgba(92, 92, 92, 0.09);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0),
		0 8px 8px rgba(0, 0, 0, 0.01), 0 6px 6px rgba(0, 0, 0, 0.05),
		0 4px 4px rgba(0, 0, 0, 0.09);

	ul {
		display: flex;
		gap: 32px;
		list-style: none;

		li {
			font-size: 16px;
			font-weight: 500;

			a {
				color: cl.$color__white;
				text-decoration: none;

				&:hover,
				&.active {
					background: cl.$color__linear-gradient;
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			svg {
				margin-top: 4px;
				width: 20px;
				height: 20px;
			}
		}
	}
}

@media (max-width: 768px) {
	.navigator {
		flex-direction: column;
		text-align: center;

		ul {
			flex-direction: column;
			gap: 1rem;
		}
	}
}
