// Defaults
$color__white: #fff;
$color__black: #000;

// Colors
$color__dark-slate: #1d212c;
$color__pink-purple: #d78fe3;
$colo__violet-blue: #7779e7;
$color__sky-blue: #9bcffc;

$color__linear-gradient: linear-gradient(
	to right,
	$color__pink-purple 0%,
	$colo__violet-blue 50%,
	$color__sky-blue 100%
);
