@use '@/styles/variables/colors' as cl;
.about {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__paragraph {
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
		color: #ffffff;
	}
}
